<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Find Resto</title>

    
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header>
      <nav id="main-nav">
        <div id="logo"><img src="./images/logo/logo.png" alt="logo-findresto"></div>
          <ul id="link">
              <li><a href="#index.html">Home</a></li>
              <li><a href="#/favorite">Favorite</a></li>
              <li><a href="#/about-us">About Us</a></li>
          </ul>
          <a id="hamburger" href="#">☰</a>
      </nav>
      <div id="drawer">
        <ul>
          <li><a href="#index.html" >Home</a></li>
          <li><a href="/favorite" >Favorite</a></li>
          <li><a href="/about-us" >About Us</a></li>
          
        </ul>
      </div>
      
      </header>
    <main id="main-content">
        <div id="started">
          <h2>Lest Discover Top Restaurant</h2>
          <p>This website is an online resource specifically designed to provide information about various restaurants. The primary purpose of this site is to assist users in discovering the best restaurants in various locations while also offering essential information such as menus, locations, reviews, and more.</p>
        </div>
        
        
        <div id="promo">
        <div class="promo-card">
          <div class="promo-wrapper">
          <h2>All Restaurant</h2>
          <h3>Discount 20% Off</h3>
          <button class="promo-button">Reedem Promo</button>
          </div>
          <img src="./images/logo/food.png" alt="food-ilustration">
        </div>
        <div class="promo-card">
          <div class="promo-wrapper">
            <h2>Bali Location</h2>
            <h3>Discount 30% Off</h3>
            <button class="promo-button">Reedem Promo</button>
          </div>
          <img src="./images/logo/food.png" alt="food-ilustration">
        </div>
      </div>
    </main>
    <script src="https://kit.fontawesome.com/0112f5dde7.js" crossorigin="anonymous"></script>
  </body>
  <footer>
    Copyright &copy; 2023 - Find Resto
    </footer>
</html>
